RewriteEngine On
RewriteBase /Erudition/public_html/

RewriteCond ${REQUEST_FILENAME} !-f
RewriteCond ${REQUEST_FILENAME} !-d
#home page rules
RewriteRule ^([a-z0-9A-Z]+)/$ index.php?page=$1
RewriteRule ^$ index.php?page=home [L]
#registration rules
RewriteRule ^signup/activation=([a-zA-Z0-9]+)/$ index.php?page=signup&activation=$1
#community rules
RewriteRule ^community/([a-zA-Z]+)/$ index.php?page=community&part=$1
RewriteRule ^community/([a-zA-Z]+)/([0-9]+)/$ index.php?page=community&part=$1&id=$2
RewriteRule ^community/([a-zA-Z]+)/([0-9]+)/page-([0-9])/$ index.php?page=community&part=$1&id=$2&p=$3
#course rules
RewriteRule ^courses/([a-zA-Z]+)/$ index.php?page=courses&part=$1
RewriteRule ^courses/([a-zA-Z]+)/([0-9]+)/$ index.php?page=courses&part=$1&id=$2
#quiz rules
RewriteRule ^quiz/([0-9]+)/$ index.php?page=quiz&id=$1

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} !([a-z0-9A-Z]+)/$
RewriteRule ^([a-z0-9A-Z]+)$ $1/ [L,R=301]

ErrorDocument 404 /Erudition/public_html/404/