<h1>Contact us</h1>
<form action="#" method="post" id="contactform">
    <label for="contact_name">Name<span class="red"> *</span></label>
    <input type="text" name="contact_name" id="contact_name" value="" size="22" tabindex="3" />

    <label for="contact_email">Email<span class="red"> *</span></label>
    <input type="text" name="contact_email" id="contact_email" value="" size="22" tabindex="4"  />

    <label for="contact_url">Website</label>
    <input type="text" name="contact_url" id="contact_url" value="" size="22" tabindex="5"  />

    <label for="contact_subject">Subject<span class="red"> *</span></label>
    <input type="text" name="contact_subject" id="contact_subject" value="" size="22" tabindex="6" />

    <label for="contact_message">Message</label>
    <textarea name="contact_message" id="contact_message" cols="28" rows="6" tabindex="7"></textarea>
    <div>
        <button class="orange" disabled type="submit">Submit</button>
    </div>
</form>	