{BREADCRUMBS}
<div class="lesson_container">
    <h1>{CHAPTER_TITLE}</h1>
    <p>
        <video controls="controls">
            <source src="{CHAPTER_VIDEO}" type="video/mp4" />
            Your browser does not support the video tag. We suggest you upgrade to a more recent browser.
        </video>
    </p>
    {CHAPTER_TRANSCRIPT}
</div>
<div class="chapter-sidebar">
    <ul>
        <li class="head current-lesson">Current lesson</li>
        <li>
            <p>{LESSON_TITLE}</p>
            <ul class="chapter-list">
                {CHAPTER_LIST}
            </ul>
        </li>
        <li class="head quiz">Quiz</li>
        <li>
            <p><a href="quiz/{QUIZ_ID}/">Take the lesson quiz</a></p>
        </li>
        <li class="head all">All lessons</li>
        <li>
            <ul class="chapter-list">
                {LESSON_LIST}
            </ul>
        </li>
    </ul>
</div>
<div class="clear"></div>
<div>
    <h5>Class source files</h5>
    <p><a href="materials/responsive-web-new.zip">Download the class source files</a></p>
</div>
{FORUM_TOPIC}