<div>
    <p class="{MESSAGE_CLASS}">{MESSAGE}</p>
    <form action="index.php" method="post">
        <label for="first_name">First name: </label> <input type="text" name="first_name" id="first_name" size="22" />
        <label for="last_name">Last name:</label> <input type="text" name="last_name" id="last_name" size="22" />
        <label for="email_address">Email address:</label> <input type="email" name="email_address" id="email_address" size="22" />
        <label for="password">Password: </label> <input type="password" name="password" id="password" size="22" />
        <label for="repeat_pass">Password again:</label> <input type="password" name="repeat_pass" id="repeat_pass" size="22" />
        <input type="hidden" name="form" value="registration_form" />
        <p><button class="grey" type="submit">Submit</button></p>
    </form>
</div>